<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA0qrtJT_g4atBLFqOXWwBLiViZPgh9oDw</string>
	<key>GCM_SENDER_ID</key>
	<string>719600442713</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diceanddestiny.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>dicendestiny-c20c7</string>
	<key>STORAGE_BUCKET</key>
	<string>dicendestiny-c20c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719600442713:ios:14426a7272bbe0954b4048</string>
</dict>
</plist>